html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  text-align: center;
  padding: .5em;
  margin: 0;
}

.link-card {
  display: inline-block;
  padding: 1rem;
  color: #512200;
  background-color: #dcd4cd;
  border-radius: 4px;
  border: 4px solid #9a816d;
  text-decoration: none;
}

.link-card h2 {
  text-align: left;
  margin: 0;
  font-family: "Dosis", sans-serif;
}

p {
  text-align: left;
}

.info {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  border-width: 2px 0 2px;
  border-style: solid;
  border-color: inherit;
  padding: 1rem 0 1rem;
  font-size: .875rem;
}

dt {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin: 0;
}

dd {
  font-style: italic;
  display: inline-block;
  width: 50%;
  text-align: left;
  margin: 0;
}

.link-card:hover {
  background-color: #cabdb2;
  border-color: #785439;
}

.link-card:hover >.btn {
  background-color: #512200;
}

.btn {
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  padding: .4em .6em;
  background-color: #785439;
  color: #f0eee8;
  border-radius: 8px;
  display: inline-block;
}
